<ion-header [translucent]="true" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>  
   <ion-title>Location</ion-title>
   <ion-buttons slot="end">
    <ion-button [routerLink]="['/notification']"><ion-icon name="notifications-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="['/homepage']" routerDirection="root"><ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2441.431804188239!2d-9.711300684201781!3d52.271862279767994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x484535634c6dcd5d%3A0xef34ec6fba7fff8e!2sDMN%20Do%20My%20Nails%20Salon!5e0!3m2!1sen!2sin!4v1637415274876!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  <!-- <div #map id="map"></div> -->
     <h6 class="ion-text-center">Working Hours</h6> 
      
    <ion-item lines="full" color="light"  *ngFor="let item of Storetime;">
      <ion-label>{{item.storeday}}</ion-label>
      <ion-text slot="end" >{{item.storetime}}</ion-text>
    </ion-item>
    <!-- <ion-item lines="full" color="light">
      <ion-label>Tuesday</ion-label>
      <ion-text slot="end" >10:00AM to 08:00PM</ion-text>
    </ion-item>
    <ion-item lines="full" color="light">
      <ion-label>Wednesday</ion-label>
      <ion-text slot="end" >10:00AM to 08:00PM</ion-text>
    </ion-item>
    <ion-item lines="full" color="light">
      <ion-label>Thrusday</ion-label>
      <ion-text slot="end" >10:00AM to 08:00PM</ion-text>
    </ion-item>
    <ion-item lines="full" color="light">
      <ion-label>Friday</ion-label>
      <ion-text slot="end" >10:00AM to 08:00PM</ion-text>
    </ion-item>
    <ion-item lines="full" color="light">
      <ion-label>Saturday</ion-label>
      <ion-text slot="end" >10:00AM to 08:00PM</ion-text>
    </ion-item>
    <ion-item lines="full" color="light">
      <ion-label>Sunday</ion-label>
      <ion-text slot="end" >Close</ion-text>
    </ion-item> -->
</ion-content>