#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  .box {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .box .img {
    max-width: 180px !important;
    width: 25%;
    // margin-bottom: 50px;
  }
  
  .box h3 {
    color: rgb(10, 2, 2);
    text-transform: uppercase;
    font-weight: bold;
  }