<ion-header [translucent]="true" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>  
   <ion-title>Profile</ion-title>
   <ion-buttons slot="end">
    <ion-button [routerLink]="['/notification']"><ion-icon name="notifications-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="['/homepage']" routerDirection="root"><ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let code of staff;">
    <img src="{{code.staff_photo}}" />
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center" color="dark">{{code.staff_name}}</ion-card-subtitle>
     
    </ion-card-header>
    <ion-card-content>
      {{code.staff_des}}
    </ion-card-content>
  </ion-card>


</ion-content>
