<ion-header  class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>signup</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
   <ion-card-header>
      <ion-card-title>
        Welcome
      </ion-card-title>
      <ion-card-subtitle>
        Create your account.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="validationFormUser" (ngSubmit)="SignUpUser(validationFormUser.value)"> 
      <div class="wrapform">
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input type="text" name="name" formControlName="name" placeholder="Name" required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationUserMessage.name"> 
          <div class="error_message" *ngIf="validationFormUser.get('name').hasError(validation.type) && (validationFormUser.get('name').dirty || validationFormUser.get('name').touched)">
            {{validation.message}}
          </div>
        </ng-container>
        <ion-item>
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-input type="phone" name="mobile" formControlName="mobile" placeholder="Mobile"  required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationUserMessage.mobile"> 
          <div class="error_message" *ngIf="validationFormUser.get('mobile').hasError(validation.type) && (validationFormUser.get('mobile').dirty || validationFormUser.get('mobile').touched)">
            {{validation.message}}
          </div>
        </ng-container>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="text" name="email" formControlName="email" placeholder="Email" required></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let validation of validationUserMessage.email"> 
            <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
              {{validation.message}}
            </div>
          </ng-container>
      </div>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" name="password" formControlName="password" placeholder="Password"  required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationUserMessage.password"> 
          <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      
      <div class="sign-btn-wrap">
          <ion-button type="submit" shape="round" fill="solid" color="dark" class="sign-btn" [disabled]="!validationFormUser.valid">Sign Up</ion-button>
      </div>
      <div class="text-tag">
        <span>Or via Social Media</span>
      </div>

        <!-- <div class="social-btns">
            <ion-button fill="clear"  class="facebookbtn ion-no-padding">
          <ion-img src="../../assets/images/facebook.png"></ion-img>
            </ion-button>
            <ion-button fill="clear"  class="googlebtn ion-no-padding">
          <ion-img src="../../assets/images/google.png"></ion-img>
            </ion-button>
        </div> -->
        <div class="signUp">
          <span class="txt_signUp">
          Do you have account? <a routerLink='/loginscreen'>Sign In</a>
          </span>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  
</ion-content>
