<ion-header [translucent]="true" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">  
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>  
   <ion-title>Booking</ion-title>
   <ion-buttons slot="end">
    <ion-button [routerLink]="['/notification']"><ion-icon name="notifications-outline"></ion-icon></ion-button>
    <ion-button [routerLink]="['/homepage']" routerDirection="root"><ion-icon name="home-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<iframe class= 'webPage'  src="https://www.fresha.com/book-now/dmn-salon-xqhjobd4/all-offer?pId=384297" allowfullscreen></iframe>
</ion-content>
